h1 {
    background: pink;
}

.paragraf-1 {
    background: yellow;
    font-size: 16pt;
    color: white;
}

.paragraf-2 {
    border: 10px solid yellow;
    border-radius: 15px;
    font-size: 20pt;
    margin-bottom: 50px;
    margin-left: 30px
    padding-bottom: 30px;
    padding-top: 10px
}

.paragraf-3 {
    font-weight: bold;
    font-size: 12pt;
    font-family: Courier New;
}

.paragraf-4 {
    font-style: italic;
    font-size: 24px;
    text-align: center;
    text-shadow: 0.4em 0.4em 5px green;
}